/* @font-face {
    src: url(../fonts/FredokaOne-Regular.ttf);
    font-family: frd;
} */
body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}
h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.board-container {
    width: 80%;
    max-width: 650px;
    height: 0;
    padding-bottom: 30%; /* this creates a 1:1 aspect ratio */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}
.computer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}
#player-board-container {
    margin-right: 5px;
}
#computer-board-container {
    margin-left: 5px;
}
.square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 0;
    background-color: white;
    cursor: pointer;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.placement {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#event-button {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 200px;
}
#toggle-button {
    background-color: #d9534f;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
#toggle-button.on {
    background-color: #5cb85c;
}
#toggle-button.off {
    background-color: #d9534f;
}